<div class="container" style="margin-top: 100px">
  <div class="row mb-5">
    <div class="col-12">
      <h1 class="text-center">Unesi novog kandidata</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <form #hotelForm="ngForm" (ngSubmit)="spremi()">
        <fieldset>
          <legend>Popunite sve podatke</legend>
          <div>
            <label for="ime" class="form-label mt-4">Ime</label>
            <input
              name="ime"
              [(ngModel)]="kandidat.ime"
              type="text"
              class="form-control"
              id="ime"
            />
          </div>
          <div>
            <label for="prezime" class="form-label mt-4">Prezime</label>
            <input
              name="prezime"
              [(ngModel)]="kandidat.prezime"
              type="text"
              class="form-control"
              id="prezime"
            />
          </div>
          <div>
            <label for="oib" class="form-label mt-4">OIB</label>
            <input
              name="oib"
              [(ngModel)]="kandidat.oib"
              type="text"
              class="form-control"
              id="oib"
            />
          </div>
          <div>
            <label for="telefon" class="form-label mt-4">Tel. broj</label>
            <input
              name="datum"
              [(ngModel)]="kandidat.telefon"
              class="form-control"
              id="datum"
            />
          </div>
          <div>
            <label for="tecaj" class="form-label mt-4"
              >Odaberi tečaj</label
            >
            <select
              name="tecaj"
              [(ngModel)]="kandidat.tecajId"
              class="form-control"
              id="tecaj"
            >
              <option
                *ngFor="let tecaj of tecajevi"
                [value]="tecaj.id"
              >
                {{ tecaj.naziv }}
              </option>
            </select>
            <p *ngIf="tecajevi.length == 0" style="color:red;">Nema dostupnih tečajeva</p>
          </div>
        </fieldset>
        <button type="submit" class="btn btn-primary mt-2" style="width: 100%">
          Spremi
        </button>
        <button
          routerLink="/kandidati"
          type="button"
          class="btn btn-danger mt-2"
          style="width: 100%"
        >
          Nazad
        </button>
      </form>
    </div>
  </div>
</div>
